ion-content {
  --background: var(--bg-item);

  .main-container {
    padding-bottom: 80px;
    height: 100%;

    .edit-profile-container {
      padding: 10px;

      .profile-image-container {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;

        .profile-image {
          position: relative;
          width: 120px;
          height: 120px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }

          .change-photo-button {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: var(--ion-color-primary);
            width: 36px;
            height: 36px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            ion-icon {
              color: white;
              font-size: 20px;
            }
          }
        }
      }

      form {
        padding: 12px;

        ion-item {
          --padding-start: 0;
          --inner-padding-end: 0;
          --border-color: #b4b4b4;
          margin-bottom: 16px;

          ion-label {
            color: var(--ion-color-medium);
          }
        }

        .error-message {
          color: var(--ion-color-danger);
          font-size: 12px;
          margin-top: -12px;
          margin-bottom: 16px;
          padding-left: 16px;
        }

        ion-button {
          margin-top: 24px;
          height: 48px;
          font-weight: 500;

          ion-spinner {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

// Estilo personalizada para modo oscuro
:host-context(.ion-palette-dark) ion-content {
  --background: var(--bg-item-dark);

  .edit-profile-container form ion-item ion-label {
    color: #c4c3c3;
  }
}
