<ion-content class="ion-padding">
  <div class="register-container">
    <!-- Logo -->
    <div class="logo-container">
      <ion-img
        class="logo-img"
        src="assets/img/logo.webp"
        alt="Restaurant Logo">
      </ion-img>
    </div>
    <!-- Titulo -->
    <h1>Crear Cuenta</h1>

    <!-- Formulario -->
    <form (ngSubmit)="onSubmit()">
        <!-- Nombre -->
          <ion-item>
            <ion-input type="text" labelPlacement="stacked" label="Nombre Completo" placeholder="Ivan Diaz">
              <ion-icon slot="start" name="person-outline" aria-hidden="true"></ion-icon>
            </ion-input>
          </ion-item>

        <!-- Email -->
          <ion-item>
            <ion-input type="email" labelPlacement="stacked" label="Email" placeholder="email@domain.com">
              <ion-icon slot="start" name="mail-outline" aria-hidden="true"></ion-icon>
            </ion-input>
          </ion-item>

        <!-- Teléfono -->
          <ion-item>
            <ion-input type="text" labelPlacement="stacked" label="Teléfono/Celular" placeholder="6000 1111">
              <ion-icon slot="start" name="call-outline" aria-hidden="true"></ion-icon>
            </ion-input>
          </ion-item>
  
        <!-- Password -->
        <ion-item>
          <ion-input type="password" labelPlacement="stacked" label="Contraseña" placeholder="*********">
            <ion-icon slot="start" name="lock-closed-outline" aria-hidden="true"></ion-icon>
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
  
        <!-- Button -->
         <ion-button expand="block" type="submit">
          Registrarse
         </ion-button>
    </form>

    <!-- Auth2 -->
    <div class="social-login">
        <p>O Inicia sesión con</p>
        <ion-button class="btn-google" expand="block" fill="outline" [disabled]="true">
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Google
        </ion-button>
    </div>

    <!-- Redirige -->
    <p class="login-link">
      ¿Ya tienes una cuenta?
      <a (click)="goToLogin()">Iniciar Sesión</a>
    </p>

  </div>
</ion-content>
