ion-content {
  --background: var(--bg-item);

  .main-container {
    padding: 16px;
    padding-bottom: 80px;
    height: 100%;

    .change-password-container {
      // padding: 10px;
      background-color: var(--color-content);

      form {
        ion-item {
          --padding-start: 0;
          --inner-padding-end: 0;
          --border-color: var(--ion-border-color);
          margin-bottom: 16px;

          ion-label {
            color: var(--ion-color-medium);
          }
        }

        .error-message {
          color: var(--ion-color-danger);
          font-size: 12px;
          margin-top: -12px;
          margin-bottom: 16px;
          padding-left: 16px;
        }

        ion-button {
          margin-top: 24px;
          height: 48px;
          font-weight: 500;

          ion-spinner {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

// Estilo personalizada para modo oscuro
:host-context(.ion-palette-dark) ion-content {
  --background: var(--bg-item-dark);

  .edit-profile-container form ion-item ion-label {
    color: #c4c3c3;
  }
}
