// ion-list
.food-item {
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  // thumbnail
  .food-image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 12px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .food-info {
    flex: 1;

    h3 {
      font-size: 16px;
      font-weight: 500;
      margin: 0 0 4px;
    }

    .rating {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: var(--ion-color-medium);
      margin-bottom: 4px;

      .star-filled {
        color: #fbbf24;
        margin-right: 4px;
      }
    }

    .price {
      color: #f97316;
      font-weight: bold;
      margin: 0;
    }
  }

  .add-button {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 8px;
    --padding-bottom: 8px;
    --border-radius: 50%;
    --background: var(--ion-background-color);
    --color: #f97316;
    margin: 0;
    height: 32px;
    width: 32px;

    &:hover{
      --background: #e4e2e2;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

:host-context(.ion-palette-dark) .food-info .price {
  color: #fa812d;
}

:host-context(.ion-palette-dark) .food-info .rating span {
  color: #c4c3c3;
}

:host-context(.ion-palette-dark) .food-item .add-button {
  &:hover{
    --background: #4e4d4d;
  }
  
}