<!-- Header -->
<app-header [title]="title" (back)="goBack()"/>
<!-- Contenido -->
<ion-content>
<!-- Titulo de la lista  -->
  <ion-list-header> Apariencia </ion-list-header>
  <!-- Lista -->
  <ion-list [inset]="true">
    <!-- Dark Mode -->
    <ion-item>
      <ion-icon slot="start" [name]="paletteToggle ? 'moon' : 'sunny' "/>
      <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between">
        Dark Mode
      </ion-toggle>
    </ion-item>
    <!-- Password -->
      <ion-item [button]="true" (click)="goToChangePassword()">
        <ion-icon name="key-outline" slot="start"/>
        <ion-label>Cambiar Contraseña</ion-label>
      </ion-item>  
  </ion-list>

  <ion-list-header> Cuenta </ion-list-header>
  <ion-list [inset]="true">
    <ion-item [button]="true" (click)="confirmDeleteAccount()">
      <ion-icon name="trash-outline" slot="start" color="danger"/>
      <ion-label>Eliminar Cuenta</ion-label>
    </ion-item>
  </ion-list>

  <div class="app-info">
    <p>Delicious Delivery</p>
    <p>Versión 1.0.0</p>
  </div>

</ion-content>